{{>layouts/header}}

<div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>병원이름</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            {{#hospitalList}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{hospitalName}}</td>
                    <td>{{roadNameAddress}}</td>
                </tr>
            {{/hospitalList}}
        </tbody>
    </table>
</div>
<div>
</div>
{{>layouts/footer}}