{{>layouts/header}}

<h1>
    {{#article}}
        {{id}}, {{title}}, {{content}}
    {{/article}}
    <a class="btn btn-primary" href="/articles/{{article.id}}/edit">Edit</a>
    <a class="btn btn-danger" href="/articles/{{article.id}}/delete">Delete</a>
    <a href="/articles/new">new article</a>
    <a href="/articles/list">list</a>
</h1>

{{>layouts/footer}}